---
layout: feed
permalink: /feed.xml
eleventyExcludeFromCollections: true
metadata:
  title: ThatMaker.Life
  url: https://ThatMaker.Life
  author:
    name: ThatMaker.Life
    email: chris@ThatMaker.Life
  feed:
    subtitle: Exploring the lives of creators.
    filename: feed.xml
    path: /
    url: https://ThatMaker.Life/feed.xml
    id: https://ThatMaker.Life
---
