---
layout: index
title: ThatMaker.Life Podcast
---

h1 Podcast from, about, and for maker.

p Here is the index text.

h2 The Host

h3 Chris Spiegl · #[a(href="https://ChrisSpiegl.com/instagram") Instagram] | #[a(href="https://ChrisSpiegl.com/youtube") YouTube] | #[a(href="https://ChrisSpiegl.com") Website]

p Enthusiast for modern tec, productivity, mindfulness, and much more. Always looking for a new challenge and business idea. All the while trying to <em>make</em> things happen. Well… I'm a <em>maker</em> after all. And with the desire to connect with others who also like to <em>make stuff</em>, I founded this podcast.
