.footnotes {
  font-size: var(--font-size-minus-2);
}

.footnote-ref {
  display: inline-block;
  margin: 0;
}

.footnote-ref a, .littlefoot-footnote__button {
  display: inline-block;
  font-size: var(--font-size-minus-1);
  margin-left: 0.2rem;
  border-radius: 1rem;
  min-width: 2rem;
  text-align: center;
  text-decoration: none;
  // height: 1rem;
  // padding-top: 0.75em;
  -webkit-font-smoothing: antialiased;
  color: var(--color-white);
  background-color: var(--color-light);
  opacity: 0.6;

  &:hover {
    background-color: var(--color-light);
    opacity: 1;
    text-decoration: none;
  }
}

.footnotes-sep {
  margin-top: 2em;
  border: 0;
  border-top: 1px solid var(--color-light);
  padding-top: 1em;
}

.footnote-backref {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.littlefoot-footnote__content {
  margin: 0;
  padding: 1rem 1.1rem;
}

// .footnotes.footnote-print-only,
// .footnotes-list.footnote-print-only {
//   display: block !important;
// }
// .footnote-item.footnote-print-only {
//   display: list-item !important;
// }