div.content.feedback Please share your feedback:
  br
  | #[a(href="/twitter") Twitter], #[a(href="/instagram") Instagram], #[a(href="/telegram") Telegram], or via #[a(href=`mailto:chris@ThatMaker.Life?subject=Show Feedback - ${title}`) Email].
