---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: archive
permalink: /tag/{{ tag }}/
---

<h1>Posts tagged “{{ tag }}”</h1>

{% set postList = tag %}

